export(addbrush)
export(axesGrob)
export(axesViewport)
export(dd_example)
export(dd_load)
export(geom_axis)
export(range01)
export(removehiddens)
export(zeeThemAll)
import(ggplot2)
import(grid)
importFrom(plyr,ddply)
importFrom(plyr,ldply)
importFrom(reshape2,dcast)
importFrom(scales,expand_range)
S3method(ggplot,barplot)
S3method(ggplot,dd)
S3method(ggplot,ddplot)
S3method(ggplot,histogram)
S3method(ggplot,parcoords)
S3method(ggplot,scatmat)
S3method(ggplot,timeseries)
S3method(plot,dd)
S3method(plot,ddplot)
S3method(print,dd)
